@model QualityMeter.Core.Models.QualityAttributesMetric

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quality Attributes Metric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Quality Attributes Metric
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Subject
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria.Factor.Subject.Name)
        </dd>
        <dt>
            Factor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria.Factor.Name)
        </dd>
        <dt>
            Criteria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria.Name)
        </dd>

        <dt>
            Against
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Against.Name)
        </dd>

        <dt>
            Related To
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedTo.Name)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Type Of Metric
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfMetric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantification)
        </dd>

        <dt>
            Standard Value
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardValue)
        </dd>

        <dt>
            Evaluation Value
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluationValue)
        </dd>

        <dt>
            Route Based
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteBased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
