@model IEnumerable<QualityMeter.Core.Models.QualityAttributesMetric>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quality Attributes Metric-Listing</h2>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Quality Attributes Metric
        </th>

        <th>
            Criteria
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfMetric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantification)
        </th>
        <th>
            Standard Value
        </th>
        <th>
            Evaluation Value
        </th>
        <th>
            Route Based
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Criteria.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfMetric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvaluationValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteBased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
