<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quality Meter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quality Meter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (Roles.IsUserInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                            <li>@Html.ActionLink("Factors", "Index", "Factors")</li>
                            <li>@Html.ActionLink("Criterias", "Index", "Criterias")</li>
                            <li>@Html.ActionLink("Quality Attributes Metrics", "Index", "QualityAttributesMetrics")</li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Manage Users<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Manage Users", "Index", "Users")</li>
                                    <li>@Html.ActionLink("Manage Roles", "Index", "Roles")</li>
                                    <li>@Html.ActionLink("Manage Users Roles", "Index", "User_Roles")</li>
                                </ul>
                            </li>
                        }
                        <li>@Html.ActionLink("Applications", "Index", "Applications")</li>
                    }
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <strong style="display: inline-block; color: white;">@Html.Encode(User.Identity.Name)</strong>
                            @Html.ActionLink("Sign Out", "Logout", "Users", null, new { style = "display:inline-block;" })
                        }
                        else
                        {
                            @Html.ActionLink("Sign In", "Login", "Users")
                        }
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Taha's Team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
